.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}


@import "./styles/normalize.css";

h1, h2, p {
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: monospace, monospace; /*шрифт*/
}

.page {
    min-width: 1100px;
    max-width: 1600px;
}

.header  {
    min-height: 756px;
    max-height: 756px;
    background-color: #f2f2f2;
    position: relative; /*используется для позиционирования элемента относительно его начального (исходного) положения в потоке документа. Оно предоставляет возможность сдвигать элемент от его обычного места без удаления его из основного потока документа.*/
    display: flex;
    align-items: center; /*для вертикального выравнивания элементов внутри контейнера, когда контейнер использует display: flex*/
    overflow: hidden; /* Скрывает выходящие за границы части */
}

.logo {
    position: absolute;
    z-index: 3;
    width: 228px;
    height: 32px;
    left: 64px;
    top: 30px;
}

.title {
    z-index: 2;
    width: 730px;
    margin-left: 64px;
    font-size: 102px; /* Размер шрифта 102px */
    line-height: 96px; /* Высота строки 96px */
    font-weight: 600; /* Начертание шрифта 600 */
}

.subtitle {
    position: absolute;
    z-index: 2;
    width: 388px;
    bottom: 30px;
    left: 64px;
    font-size: 18px; /* Размер шрифта 102px */
    line-height: 25px; /* Высота строки 96px */
    font-weight: normal;
}

.link {
    text-decoration: none;
}

.main-illustration {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 765px;
    height: 608px;
    z-index: 1;
    margin: 0;
    padding: 0;
}

.square-pic {
    position: absolute;
    right: 0;
    top: 64px;
    width: 568px;
    height: 568px;
    background-color: #2f80ed;
}

.rotation {
    animation: rotate 20s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.description {
    margin-top: 100px;
    margin-bottom: 100px;
}

.two-columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Равномерное распределение элементов по горизонтали */
    width: 80%;
    min-width: 784px;
    margin: auto;
}

.two-columns_brief {
    width: 175px;
    margin-right: 70px;
}

.two-columns_brief_text {
    font-size: 18px; /* Размер шрифта 18px */
    line-height: 1.2; /* Высота строки 1.2 */
    font-weight: normal;
    color: #2f80ed;
}

.two-columns_paragraph_one {
    margin-bottom: 30px;
}

.two-columns_paragraph_one_text {
    font-size: 24px; /* Размер шрифта 24px */
    line-height: 34px; /* Высота строки 34px */
    font-weight: normal;
}

.two-columns_paragraph_two {
    margin-bottom: 30px;
}

.two-columns_paragraph_two_text {
    font-size: 24px; /* Размер шрифта 24px */
    line-height: 34px; /* Высота строки 34px */
    font-weight: 600;
}

.techniques {
    width: 80%;
    margin: auto;
}

.section-title_techniques {
    margin-top: 100px;
    margin: auto;
    font-size: 60px; /* Размер шрифта */
    line-height: 1.15; /* Высота строки */
    font-weight: 600;
    border: 2px solid red;
}

.section-subtitle_techniques {
    font-size: 24px; /* Размер шрифта */
    line-height: 34px; /* Высота строки */
    font-weight: normal;
    border: 2px solid red;
}

.cards {
    display: flex;
    width: 920px;
    margin: auto;
    border: 2px solid red;
    flex-wrap: wrap; /* Позволяет элементам переноситься на новую строку */
    justify-content: space-between;
}

.cards_item {
    border: 2px solid rgb(99, 12, 238);
    margin-left: 100px;
    margin-bottom: 60px;
    width: 240px;
}

.cards_image_pos{
    border: 2px solid red;
    margin: 60px 40px 43px;
    width: 160px;
    height: 160px;
}

.cards_image {
    border: 2px solid red;
    width: 160px;
    height: 160px;
    border-radius: 50%; /* Делает изображение круглым */
    object-fit: cover; /* Обрезает изображение, чтобы заполнить круг */
}

.cards_title {
    font-size: 24px; /* Размер шрифта */
    line-height: 1.15; /* Высота строки */
    font-weight: 600;
    border: 2px solid red;
    align-items: center; /*для вертикального выравнивания элементов внутри контейнера, когда контейнер использует display: flex*/
}

.cards_description {
    font-size: 18px; /* Размер шрифта */
    line-height: 23px; /* Высота строки */
    font-weight: normal;
    border: 2px solid red;
    /*justify-content: center;    /* Горизонтальное выравнивание */
    align-items: center; /*для вертикального выравнивания элементов внутри контейнера, когда контейнер использует display: flex*/
}

.video{
    margin-top: 100px;
}

.iframes{
    margin: auto;
    margin-top: 50px;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center; /* если нужно выравнивание по вертикали*/
}

.iframe_f{  /*поменять*/
    margin-right: 20px;
}

.betwen_4{
    height: 160px;
    background-color: #f2f2f2;
}

.oakley{
    margin: auto;
    background-color: #f2f2f2;
}

.digits {
    margin-top: 100px;
    margin-bottom: 100px;
}

.section-title {
    width: 60%;
    display: flex;
    margin: auto;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.section-title_text {
    line-height: 1.15;
    font-size: 60px;
    font-weight: 600;
}

.section-subtitle {
    width: 60%;
    display: flex;
    margin: auto;
    justify-content: center;
}

.section-subtitle_text{
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
}

.table {
    display: flex;
    width: 1100px;
    margin: auto;
    justify-content: space-between; /*элементы будут расположены с равными интервалами между ними*/
    flex-wrap: wrap; /* Позволяет элементам переноситься на новую строку */
}

.table_cell {
    width: 250px;
    margin-top: 60px;
}

.table_heading {
    line-height: 1.15;
    font-size: 24px;
    font-weight: 600;
    margin-top: 0;
}

.table_text {
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
}

.table_text_two {
    margin-top: 20px;
}

.betwen{
    background-color: #f2f2f2;
    height: 100px;
}

.feynman {
    background-color: #f2f2f2;
    height: 890px;
    position: relative; /*используется для позиционирования элемента относительно его начального (исходного) положения в потоке документа. Оно предоставляет возможность сдвигать элемент от его обычного места без удаления его из основного потока документа.*/
}

.feynman_o {
    left: 50%; /* Центрирование по горизонтали */
    transform: translateX(-50%);
    z-index: 1;
    position: absolute;
}

.feynman_title {
    line-height: 1.15;
    font-size: 120px;
    font-weight: 600;
    width: 648px;
    text-align: center;
    margin-bottom: 70px;
}

.feynman_subtitle {
    top: 70px;
    width: 648px;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    display: flex;
    justify-content: center; /* Горизонтальное центрирование */
    align-items: center; /* Вертикальное центрирование */
}

.feynman_link {
    position: absolute;
    top: 50%;
    right: 48px;
    z-index: 1;
    font-size: 36px; /* Размер шрифта 36px */
    line-height: 51px; /* Высота строки 51px */
    font-weight: normal; /* Начертание шрифта normal */
    text-decoration: none;
}

.feynman_img {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    width: 867px;
    height: 637px;
}

.betwen_2{
    background-color: #f2f2f2;
    height: 105px;
}

.khan{
    background-color: #f2f2f2;
}

.khan_container{
    width: 80%;
    margin: auto; 
    border: 2px solid red;
}

.khan_author{
    font-size: 30px; /* Размер шрифта 30px */
    line-height: 42px; /* Высота строки 42px */
    font-weight: normal; /* Начертание шрифта normal */
}

.khan_title{
    font-size: 60px; /* Размер шрифта 30px */
    line-height: 1.15; /* Высота строки 42px */
    font-weight: 600; /* Начертание шрифта normal */
}

.khan_quote{
    font-size: 34px; /* Размер шрифта 30px */
    line-height: 24px; /* Высота строки 42px */
    font-weight: normal;
    margin-top: 50px;
    width: 790px;
}

.khan_quote-author{
    margin-top: 36px;
    line-height: 1.15;
    font-size: 24px;
    font-weight: 600;
}

.khan_quote-author-subline{
    margin-top: 10px;
    line-height: 1.15;
    font-size: 24px;
    font-weight: normal;
}

.khan_book-container{
    display: flex;
}

.khan_book-pic{
    margin-top: 68px;
    height: 620px;
    width: 608px;
    margin-right: 48px;
}

.khan_buy-link{
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
}

.betwen_3{
    background-color: #1f1f1f;
    height: 90px;
}

.kaufman {
    background-color: #1f1f1f;
    height: 756px;
    position: relative;
    overflow: hidden;
    /*margin-bottom: 90px;*/
}

.section-title__theme_dark {
    color: white;
    margin-top: 90px;
    line-height: 1.15;
    font-size: 60px;
    font-weight: 600;
    z-index: 3;
}

.section-subtitle__theme_dark {
    color: white;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    z-index: 3;
}

.table__theme_dark {
    margin-bottom: 80px;
    z-index: 3;
}

.table_cell__theme_dark {
    width: 200px;
    margin-top: 80px;
    z-index: 3;
}

.table_heading__theme_dark {
    margin-bottom: 20px;
    color: white;
    z-index: 3;
}

.table_text__theme_dark {
    color: white;
    z-index: 3;
}

.kaufman_triangle {
    position: absolute;
    right: -270px;
    width: 877px;
    height: 877px;
    z-index: 2;
    top: 0;
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 0;
}

.resources{
    margin-top: 100px;
    margin-bottom: 217px;
}

.footer {
    min-height: 350px;
    background-color: #1f1f1f;
    color: #f2f2f2;
    padding: 60px 0 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer_columns {
    width: 90%;
    margin: 0 auto;
    /*border: 2px solid rgb(255, 0, 0);*/
    display: flex;
    justify-content: space-between;
}

.footer_columnn {
    display: flex;
    flex-direction: column;
    /*border: 2px solid rgb(0, 255, 157);*/
    margin: 0;
}

.footer_column__copyright {
    flex-basis: 711px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* раскидывает контент между верхом и низом */
}

.logo_footer {
    width: 300px;
    height: 32px;
    line-height: 32px;
    font-size: 32px;
    font-weight: bold;
    color: white;
    margin: 0;
    position: relative;
    left: 0;
    top: 0;
}

.footer_author {
    margin: 0 auto 0 0;
    margin-top: auto; /* прижимает автора к низу */
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    color: #f2f2f2;
}

.footer_column-heading {
    /*border: 2px solid rgb(255, 0, 0);*/
    line-height: 30px;
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 20px;
    color: white;
}

.footer__column-links {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 0; /* Убирает левый отступ у списка */
  text-align: left; /* Выравнивает текст по левому краю */
    border: 2px solid rgb(55, 176, 195);
}

.footer_column-links_social {
    list-style-type: none; /* Убираем точки у списка соцсетей */
}

.footer_column-link {
    /*border: 2px solid rgb(255, 0, 0);*/
    line-height: 30px;
    font-size: 18px;
    color: #f2f2f2;
    font-weight: normal;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: flex-start; /* Для flex-элементов */
}

.footer_column__social {
    /*border: 2px solid rgb(13, 255, 0);*/
    align-items: flex-start;
    right: 0;
}

.footer_social-icon {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

.footer_social-icon_text {
    color: #f2f2f2;
    text-decoration: none;
    height: 16px;
}
